body {
    width: 600px;
    background-color: burlywood;
    margin: 0 auto;
}

.form-element {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.form-element label {
    width: 150px;
}

.hidden {
    display: none !important;
}

#strength-test {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px;
    color: #333;
}

.success {
    color: green;
    font-weight: bold;
}

.warning {
    color: red;
    display: flex;
    font-weight: bold;
}

/*Tablets*/
@media (min-width: 600px) {
    body {
        width: 900px;
    }
}

/* Desktop */
@media (min-width: 900px) {
    body {
        width: 1200px;
    }
}