body {
    width: 600px;
    background-color: burlywood;
    margin: 0 auto;
}

.form-element {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.form-element label {
    width: 150px;
}

.hidden {
    display: none !important;
}

#strength-bar {
    background-color: red;
    height: 100%;
    transition: width 0.3s ease, background-color 0.3s ease;
    width: 0;
    
}

#strength-test {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px;
    color: #333;
}

#strength-meter {
    border-radius: 4px;
    height: 8px;
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
}

.warning {
    color: red;
    font-weight: bold;
}

/*Tablets*/
@media (min-width: 600px) {
    body {
        width: 900px;
    }
}

/* Desktop */
@media (min-width: 900px) {
    body {
        width: 1200px;
    }
}