body {
    width: 600px;
    background-color: burlywood;
    margin: 0 auto;
}

.bread-form {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.bread-form label {
    width: 150px;
}

.warning {
    color: red;
    font-weight: bold;
}

/*Tablets*/
@media (min-width: 600px) {
    body {
        width: 900px;
    }
}

/* Desktop */
@media (min-width: 900px) {
    body {
        width: 1200px;
    }
}