<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" .}}Document{{end}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>Ratio Baking - Lets Make Something Tasty!</header>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/calculator/">Calculator</a>
    </nav>
    <hr>

    {{block "content" .}} {{end}}
</body>
</html>