<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{define "title"}}Login{{end}}</title>
</head>
<body>
    {{define "content"}}
        {{ if .Session.LoggedIn }}
            <h1>{{ .Session.Username }} is already logged in!</h1>
        {{ else }}
            <h1>Welcome whomever you are!</h1>
        {{ end }}
        <div>
            <form class="login" id="login" method="post" action="/loginSubmit">
                <div class="form-element">
                    <label for="username">Username</label>
                    <input type="text", id="username" name="username">
                </div>
                <div class="form-element">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="button">
                    <button type="submit">Submit</button>
                </div>
                <div class="warning" id="login-error" style="display: none;">
                    {{ if eq .Response.Field "login-error" }}
                        <p class="warning">{{ .Response.Message }}</p>
                    {{ else }}
                        <p>Login Successful</p>
                    {{ end }}
                </div>
            </form>
        </div>
    {{end}}
</body>
</html>