<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{define "title"}}Login{{end}}</title>
</head>
<body>
    {{define "content"}}
        {{ if .Session.LoggedIn }}
            <h1>{{ .Session.Username }} is already logged in!</h1>
        {{ else }}
            <h1>Welcome whomever you are!</h1>
        {{ end }}
        <div>
            <form class="login" id="login" method="post" action="/loginSubmit">
                <div class="form-element">
                    <label for="username">Username</label>
                    <input type="text", id="username" name="username" autocomplete="username">
                </div>
                <div class="form-element">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" autocomplete="current-password">
                </div>
                <div class="button">
                    <button type="submit">Submit</button>
                </div>
                <div class="warning hidden" id="login-error">
                    <p class="warning">Username or password is incorrect.</p>
                </div>
            </form>
        </div>
        <script src="/static/js/utils.js"></script>
        <script src="/static/js/login.js"></script>
        {{end}}
</body>
</html>