{{ define "title" }}Password Reset{{ end }}

{{ define "content" }}
<h2>Reset Password</h2>
<form action="/passwordReset" method="post" id="passwordReset">
  <div class="password">
    <div class="form-element">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" autocomplete="new-password" required>
      <p id="strength-text"></p>
    </div>
  </div>
  <div class="form-element">
    <label for="check_password">Enter password again:</label>
    <input type="password" name="check_password" id="check_password" autocomplete="new-password" required>
    <p class="warning hidden" id="password-error">Passwords do not match.</p>
  </div>
  <div class="button">
    <button type="submit">Submit</button>
  </div>
  <input type="hidden" name="token" value="{{ .Token }}">
</form>
<script src="/static/js/registration.js"></script>
{{ end }}