<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{define "title"}}Sign Up{{end}}</title>
</head>
<body>
    {{define "content"}}

        <main>
            <form action="/register" method="post" id="registration">
                <h1>Register</h1>
                <h2>Why Create An Account?</h2>
                <p>You can save recipies to your account....maybe more reasons some other day.</p>
                <p>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                </p>
                <p>
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" required>
                    <p class="warning" id="username-error" style="display: none;"></p>
                    {{ if eq .ErrorField "username" }}
                        <p class="warning">{{ .ErrorMsg }}</p>
                    {{ end }}
                </p>
                <p>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                    <p class="warning" id="email-error" style="display: none;"></p>
                    {{ if eg .ErrorField "email" }}
                        <p class="warning">{{ .ErrorMsg }}</p>
                    {{ end }}
                </p>
                <p>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                </p>
                <p>
                    <label for="check_password">Enter password again:</label>
                    <input type="password" name="check_password" id="check_password" required>
                </p>
                <p>
                    <button type="submit">Submit</button>
                </p>
                <h2 id="registration-success" style="display: none; color: green;"></h2>
            </form>    
        </main>

    {{end}}
    <script src="/static/js/registration.js"></script>
</body>
</html>