<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{define "title"}}Sign Up{{end}}</title>
</head>
<body>
    {{define "content"}}
        <header>
            {{ if .Session.LoggedIn }}
                <h2>{{ .Session.Username }} is already logged in.</h2>
                <p class="warning">To create an account. Please log out first.</p>
            {{ end }}
        </header>
        <main>
            <form action="/registrationSubmit" method="post" id="registration">
                <h1>Register</h1>
                <h2>Why Create An Account?</h2>
                <p>You can save recipies to your account....maybe more reasons some other day.</p>
                <div class="form-element">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" autocomplete="name">
                </div>
                <div class="form-element">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" autocomplete="username" required>
                    <p class="warning hidden" id="username-error">Username already in use. Please choose another.</p>
                </div>
                <div class="form-element">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                    <p id="email-error" class="warning hidden">This email already has an account.</p>
                </div>
                <div class="password">
                    <div class="form-element">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" autocomplete="new-password" required>
                        <p id="strength-text"></p>
                    </div>
                </div>
                <div class="form-element">
                    <label for="check_password">Enter password again:</label>
                    <input type="password" name="check_password" id="check_password" autocomplete="new-password" required>
                    <p class="warning hidden" id="password-error">Passwords do not match.</p>
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
                <p id="registration-error" class="warning hidden">There was an error saving your account. Please try again later.</p>
                <h2 id="registration-success" class="success hidden">Registration Successful!</h2>
            </form>
            <script src="/static/js/utils.js"></script>    
            <script src="/static/js/registration.js"></script>
        </main>

    {{end}}
</body>
</html>